.font-normal () { font-family: 'Alegreya Sans', sans-serif; font-weight: 400; }
.font-heavy () { font-weight: bold; }
.font-title () { font-family: 'Alegreya Sans', sans-serif; font-weight: 500; }
.font-small () { font-size: 0.875em; }

/*
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'), url(Roboto300.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'), url(Roboto500.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'), url(Oswald400.ttf) format('truetype');
}
*/
